<h2>Suchkriterien</h2>

<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div formGroupName="criteria">
    <p>
      <label for="name">Name der Haltestelle</label>
      <input id="name" formControlName="name" />
      <!-- <nd-form-errors
      controlName="name"
      [messages]="{ required: 'Name muss angegeben werden' }"
    ></nd-form-errors> -->
    </p>

    <p>
      <label for="lon">Länge [WGS 84 Format in Grad]</label>
      <input id="lon" formControlName="lon" />
    </p>

    <p>
      <label for="lat">Breite [WGS 84 Format in Grad]</label>
      <input id="lat" formControlName="lat" />
    </p>

    <p>
      <label for="radius">Radius [m]</label>
      <input id="radius" formControlName="radius" />
    </p>
  </div>

  <nd-form-errors
    controlName="criteria"
    [messages]="{
      stopsearchcriteriacorrect:
        'Name oder Länge/Breite/Radius muss angegeben werden'
    }"
  ></nd-form-errors>

  <br />

  <button type="submit" [disabled]="form.invalid">Suchen</button>
</form>

<h2>Haltestellen</h2>

<nd-stop-list [stops$]="stops$"></nd-stop-list>
