<h3 i18n="@@Play1Section1">Distances, Margin, Padding</h3>
<div class="dist-frame">
  <div class="dist-obj1">
    <img
      class="img-block"
      src="../../../assets/playground/rectangle100x50.jpg"
    />
  </div>
  <div class="dist-obj2">
    <img
      class="img-block"
      src="../../../assets/playground/rectangle100x50.jpg"
    />
  </div>
</div>

<h3 i18n="@@Play1Section2">Moving</h3>
<div class="mov-frame">
  <div class="mov-obj" #movObj1>
    <img
      class="img-block"
      src="../../../assets/playground/rectangle100x50.jpg"
    />
  </div>
  <div class="mov-obj" #movObj2>
    <img
      class="img-block"
      src="../../../assets/playground/rectangle100x50.jpg"
    />
  </div>

  <div>
    <div class="div-img-basis">
      <ng-container #imgBasis>
        <img
          class="img-block"
          src="../../../assets/playground/rectangle100x50.jpg"
        />
        <div class="div-img-moving" #imgMoving>
          <img
            class="img-block"
            src="../../../assets/playground/cross25x25.png"
          />
        </div>
      </ng-container>
    </div>
  </div>
</div>
<button (click)="manipulate()" i18n="@@Play1Manipulate">Manipulate...</button>

<h3 i18n="@@Play1Section3">Moving on Scalable Image</h3>
<div class="mov-frame">
  <div>
    <div class="div-img-scalable-basis">
      <ng-container #imgScalableBasis>
        <img
          class="img-block-scalable"
          src="../../../assets/playground/rectangle600x300.jpg"
        />
        <div class="div-img-scalable-moving" #imgScalableMoving>
          <img
            class="img-block"
            src="../../../assets/playground/cross25x25.png"
          />
        </div>
      </ng-container>
    </div>
  </div>
</div>
<button (click)="moveOnScalableImage()" i18n="@@Play1Move">Move...</button>

<h3 i18n="@@Play1Section4">Using as-split</h3>
<as-split class="as-split-container" direction="horizontal" gutterSize="7">
  <as-split-area [size]="20">
    <p i18n="@@Play1AreaLeft">Left</p>
  </as-split-area>
  <as-split-area [size]="80">
    <p i18n="@@Play1AreaRight">Right</p>
  </as-split-area>
</as-split>
