// ul {
//   margin: 0;
//   padding: 0;
//   list-style: none;
// }

// li + li {
//   margin-top: 1rem;
// }

.public-stop-list {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
}

@media screen and (max-width: 560px) {
  .public-stop-list {
    display: block;
  }
}
