<h1>Haltestellen suchen</h1>
<section class="search-criteria">
  <h3>Suchkriterien</h3>

  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div formGroupName="criteria">
      <mat-form-field class="form-field">
        <mat-label for="name">Name der Haltestelle</mat-label>
        <input matInput id="name" formControlName="name" />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label for="lon">Länge [WGS 84 Format in Grad]</mat-label>
        <input matInput id="lon" formControlName="lon" />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label for="lat">Breite [WGS 84 Format in Grad]</mat-label>
        <input matInput id="lat" formControlName="lat" />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label for="radius">Radius [m]</mat-label>
        <input matInput id="radius" formControlName="radius" />
      </mat-form-field>
    </div>

    <nd-form-errors
      controlName="criteria"
      [messages]="{
        stopsearchcriteriacorrect:
          'Name oder Länge/Breite/Radius muss angegeben werden'
      }"
    ></nd-form-errors>

    <button
      type="submit"
      [disabled]="form.invalid"
      mat-raised-button
      color="primary"
    >
      Suchen
    </button>
  </form>
</section>

<h3>Haltestellen</h3>

<nd-public-stop-list></nd-public-stop-list>
