<h1 i18n="@@PublicStopSearchHeader">Search stops</h1>
<section class="search-criteria">
  <h2 i18n="@@PublicStopSearchCriteria">Search Criteria</h2>

  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div formGroupName="criteria">
      <mat-form-field class="form-field">
        <mat-label for="name" i18n="@@PublicStopSearchCriteriaName"
          >Name of the stop</mat-label
        >
        <input matInput id="name" formControlName="name" />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label for="lon" i18n="@@PublicStopSearchCriteriaLongitude"
          >Longitude [WGS 84 format in degree]</mat-label
        >
        <input matInput id="lon" formControlName="lon" />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label for="lat" i18n="@@PublicStopSearchCriteriaLatitude"
          >Latitude [WGS 84 format in degree]</mat-label
        >
        <input matInput id="lat" formControlName="lat" />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label for="radius" i18n="@@PublicStopSearchCriteriaRadius"
          >Radius [m]</mat-label
        >
        <input matInput id="radius" formControlName="radius" />
      </mat-form-field>
    </div>

    <nd-form-errors
      controlName="criteria"
      [messages]="{
        stopsearchcriteriacorrect: validatorTextStopsearchcriteriacorrect
      }"
    ></nd-form-errors>

    <button
      type="submit"
      [disabled]="form.invalid"
      mat-raised-button
      color="primary"
      i18n="@@PublicStopSearchButtonSearch"
    >
      Search
    </button>
  </form>
</section>

<h2 i18n="@@PublicStopSearchResults">Results</h2>

<nd-public-stop-list></nd-public-stop-list>
