<as-split direction="horizontal" gutterSize="7" class="map-split-container">
  <as-split-area [size]="30" class="map-split">
    <div
      *ngIf="loadingFavoriteStops(); else notLoadingBlock"
      i18n="@@MapMessageLoading"
    >
      Loading favorites...
    </div>
    <ng-template #notLoadingBlock>
      <div
        *ngIf="!favoriteStops().length; else favoritesStoredBlock"
        i18n="@@MapMessageNoneStored"
      >
        No favorites stored
      </div>

      <ng-template #favoritesStoredBlock>
        <section class="grid-container">
          <h4 class="favorite-stops-header" i18n="@@MapFavoritesHeader">
            Favorites
          </h4>
          <div class="favorite-stops-filter">
            <mat-form-field>
              <mat-label i18n="@@MapFilterLabel">Filter</mat-label>
              <input
                matInput
                (keyup)="applyFilter($event)"
                placeholder="station"
                i18n-placeholder="@@MapFilterPlaceholder"
                #input
              />
            </mat-form-field>
          </div>

          <div
            class="favorite-stops-data"
            cdkDropList
            [cdkDropListConnectedTo]="[selectedStopsList]"
            #favoriteStopsList="cdkDropList"
            (cdkDropListDropped)="dropIntoFavorites($event)"
            cdkDropListSortingDisabled
            [cdkDropListEnterPredicate]="intoFavoriteStopsPredicate"
          >
            <table
              mat-table
              [dataSource]="dataSourceFavorites"
              matSort
              matSortActive="haltestellenname"
              matSortDirection="asc"
            >
              <ng-container matColumnDef="haltestellenname">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  i18n="@@MapFavoritesColHeaderName"
                >
                  Name
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.haltestellenname }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns"
                cdkDrag
                [cdkDragData]="row"
              ></tr>
            </table>
          </div>

          <h4 class="selected-stops-header" i18n="@@MapSelectedHeader">
            Selected
          </h4>
          <div
            class="selected-stops-data"
            cdkDropList
            #selectedStopsList="cdkDropList"
            [cdkDropListConnectedTo]="[favoriteStopsList]"
            (cdkDropListDropped)="dropIntoSelected($event)"
            [cdkDropListEnterPredicate]="intoSelectedStopsPredicate"
          >
            <table mat-table [dataSource]="dataSourceSelected()">
              <ng-container matColumnDef="haltestellenname">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  i18n="@@MapSelectedColHeaderName"
                >
                  Name
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.haltestellenname }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns"
                cdkDrag
                [cdkDragData]="row"
              ></tr>
            </table>
          </div>
        </section>
      </ng-template>
    </ng-template>
  </as-split-area>
  <as-split-area class="map-split">
    <mat-slide-toggle
      #toggleImageTransparent
      class="map-toggle"
      i18n="@@MapToggleEffect1"
    >
      50% transparent
    </mat-slide-toggle>

    <mat-slide-toggle
      #toggleImageFilter
      class="map-toggle"
      i18n="@@MapToggleEffect2"
    >
      filtered
    </mat-slide-toggle>

    <span>{{ currentDate | date : "full" }}</span>

    <div class="map-div">
      <ng-container #mapContainer>
        <img
          src="../../../assets/stops/nuernberg1.png"
          alt="Stadtplan von Nürnberg"
          width="2000"
          height="1500"
          class="map-image"
          [ngClass]="{
            'map-image-transparent': toggleImageTransparent.checked,
            'map-image-filter': toggleImageFilter.checked
          }"
        />

        @for (selectedStop of dataSourceSelected(); track
        selectedStop.vgnKennung) {
        <div
          class="map-div-selected-stop"
          #mapDivSelectedStop
          id="vgnKennung-{{ selectedStop.vgnKennung }}"
          (mouseover)="registerMouseOver(selectedStop.vgnKennung)"
          (mouseleave)="registerMouseLeave(selectedStop.vgnKennung)"
        >
          <mat-icon class="map-image-selected-stop">location_on</mat-icon>
          @if(isMouseOverSelectedStop(selectedStop.vgnKennung)) {
          <nd-public-stop-list-item
            [haltestellenname]="selectedStop.haltestellenname!"
            [longitude]="selectedStop.longitude!"
            [latitude]="selectedStop.latitude!"
            [produkte]="selectedStop.produkte!"
            [isFavorite]="true"
          ></nd-public-stop-list-item>
          }
        </div>
        }
      </ng-container>
    </div>
  </as-split-area>
</as-split>
