<mat-sidenav-container>
  <mat-sidenav #sidenav class="sidenav" (click)="sidenav.close()">
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active">
        <mat-icon matListIcon>home</mat-icon>
        <span class="a-text">Startseite</span>
      </a>
      <a
        mat-list-item
        routerLink="/stops/search-public-stops"
        routerLinkActive="active"
      >
        <mat-icon matListIcon>pin_drop</mat-icon>
        <span class="a-text">Haltestellen suchen</span>
      </a>
      <a
        mat-list-item
        routerLink="/stops/favorite-stops"
        routerLinkActive="active"
      >
        <mat-icon matListIcon>favorite</mat-icon>
        <span class="a-text">Haltestellen Favoriten</span>
      </a>
      <a mat-list-item routerLink="/stops/map" routerLinkActive="active">
        <mat-icon matListIcon>map</mat-icon>
        <span class="a-text">Karte</span>
      </a>
      <a mat-list-item routerLink="/playground" routerLinkActive="active">
        <mat-icon matListIcon>sports_tennis</mat-icon>
        <span class="a-text">Spielplatz</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="toolbar" color="primary">
      <button
        mat-icon-button
        aria-label="Menu button"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Ng Demo 1</span>
    </mat-toolbar>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
