<mat-sidenav-container>
  <mat-sidenav #sidenav class="sidenav" (click)="sidenav.close()">
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active">
        <mat-icon matListIcon>home</mat-icon>
        <span class="a-text" i18n="@@NavigationStartpage">Start Page</span>
      </a>
      <a
        mat-list-item
        routerLink="/stops/search-public-stops"
        routerLinkActive="active"
      >
        <mat-icon matListIcon>pin_drop</mat-icon>
        <span class="a-text" i18n="@@NavigationSearchStops">Search Stops</span>
      </a>
      <a
        mat-list-item
        routerLink="/stops/favorite-stops"
        routerLinkActive="active"
      >
        <mat-icon matListIcon>favorite</mat-icon>
        <span class="a-text" i18n="@@NavigationFavoriteStops"
          >Favorite Stops</span
        >
      </a>
      <a mat-list-item routerLink="/stops/map" routerLinkActive="active">
        <mat-icon matListIcon>map</mat-icon>
        <span class="a-text" i18n="@@NavigationMap">Map</span>
      </a>
      <a mat-list-item routerLink="/playground" routerLinkActive="active">
        <mat-icon matListIcon>sports_tennis</mat-icon>
        <span class="a-text" i18n="@@NavigationPlayground">Playground</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="toolbar" color="primary">
      <button
        mat-icon-button
        aria-label="Menu button"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Ng Demo 1</span>
      <span class="stretch"></span>
      <mat-button-toggle-group
        name="languageSelection"
        aria-label="Language Selection"
      >
        <mat-button-toggle
          [checked]="getLocale() == 'de-DE'"
          (click)="changeLocale('de-DE')"
          i18n="@@LanguageGerman"
          >German</mat-button-toggle
        >
        <mat-button-toggle
          [checked]="getLocale() == 'en-US'"
          (click)="changeLocale('en-US')"
          i18n="@@LanguageEnglish"
          >English</mat-button-toggle
        >
      </mat-button-toggle-group>
    </mat-toolbar>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
