<mat-card class="card">
  <mat-card-header class="card-header">
    <mat-card-title>{{ haltestellenname }}</mat-card-title>
    <mat-icon *ngIf="isFavorite">favorite</mat-icon>
  </mat-card-header>
  <mat-card-content>
    <p [ndLonLatExt]="[longitude, latitude]"></p>
    <mat-chip-set
      class="chip-area"
      matTooltip="Products at this stop"
      i18n-matTooltip="@@PublicStopListItemProducts"
    >
      <mat-chip *ngFor="let produkt of getProducts()">{{ produkt }}</mat-chip>
    </mat-chip-set>
  </mat-card-content>
  <mat-card-actions *ngIf="isFavoriteChangeable">
    <mat-slide-toggle
      [checked]="isFavorite"
      (change)="changeFavorite($event)"
      i18n="@@PublicStopListItemIsFavorite"
    >
      Favorite
    </mat-slide-toggle>
  </mat-card-actions>
</mat-card>
