<h1 i18n="@@FavStopListHeaderMain">Favorites</h1>

<div *ngIf="loading(); else notLoadingBlock" i18n="@@FavStopListMessageLoading">
  Loading favorites...
</div>
<ng-template #notLoadingBlock>
  <div
    *ngIf="!favoriteStops().length; else favoritesStoredBlock"
    i18n="@@FavStopListMessageNoneStored"
  >
    No favorites stored
  </div>

  <ng-template #favoritesStoredBlock>
    <mat-form-field>
      <mat-label i18n="@@FavStopListFilterLabel">Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        i18n-placeholder="@@FavStopListFilterPlaceholder"
        placeholder="station"
        #input
      />
    </mat-form-field>

    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      matSortActive="haltestellenname"
      matSortDirection="asc"
    >
      <ng-container matColumnDef="haltestellenname">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          i18n="@@FavStopListColHeaderName"
        >
          Name
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.haltestellenname }}
        </td>
      </ng-container>

      <ng-container matColumnDef="vgnKennung">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          i18n="@@FavStopListColHeaderVgnKennung"
        >
          VGN Identifier
        </th>
        <td mat-cell *matCellDef="let row">{{ row.vgnKennung }}</td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          i18n="@@FavStopListColHeaderPosition"
        >
          Position
        </th>
        <td mat-cell *matCellDef="let row">
          {{ [row.longitude, row.latitude] | lonlat }}
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th
          mat-header-cell
          *matHeaderCellDef
          i18n="@@FavStopListColHeaderDelete"
        >
          Delete
        </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="deleteFavoriteStop(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td
          *ngIf="!loading() && favoriteStops.length"
          class="mat-cell"
          colspan="4"
          i18n="@@FavStopListFilterNoData"
        >
          No data found for the given filter: "{{ input.value }}"
        </td>
      </tr>
    </table>
  </ng-template>
</ng-template>

<hr class="distanced" />

@if (showSimpleList) {
<h2 i18n="@@FavStopListHeaderAlternativeList">Alternative, simple list:</h2>

<div *ngIf="loading()" i18n="@@FavStopListMessageLoadingAlternative">
  Loading favorites...
</div>
<ul *ngIf="favoriteStops() as favoriteStops">
  <li *ngFor="let favoriteStop of favoriteStops">
    {{ favoriteStop.haltestellenname }}
  </li>
  <li
    *ngIf="!loading() && !favoriteStops.length"
    i18n="@@FavStopListMessageNoneStoredAlternative"
  >
    No favorites stored
  </li>
</ul>
} @else {
<button
  mat-raised-button
  (click)="showSimpleList = true"
  i18n="@@FavStopListButtonShowAsSimpleList"
>
  Show as simple list, too
</button>
}
