<h1>Favoriten</h1>

<div *ngIf="loading(); else notLoadingBlock">Favoriten werden geladen...</div>
<ng-template #notLoadingBlock>
  <div *ngIf="!favoriteStops().length; else favoritesStoredBlock">
    Keine Favoriten gespeichert
  </div>

  <ng-template #favoritesStoredBlock>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="bahnhof"
        #input
      />
    </mat-form-field>

    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      matSortActive="haltestellenname"
      matSortDirection="asc"
    >
      <ng-container matColumnDef="haltestellenname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">
          {{ row.haltestellenname }}
        </td>
      </ng-container>

      <ng-container matColumnDef="vgnKennung">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>VGN Kennung</th>
        <td mat-cell *matCellDef="let row">{{ row.vgnKennung }}</td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Löschen</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="deleteFavoriteStop(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td
          *ngIf="!loading() && favoriteStops.length"
          class="mat-cell"
          colspan="4"
        >
          Keine Daten für den Filter gefunden: "{{ input.value }}"
        </td>
      </tr>
    </table>
  </ng-template>
</ng-template>

<hr class="distanced" />
<h4>Alternative, einfache Darstellung:</h4>
<hr />

<div *ngIf="loading()">Favoriten werden geladen...</div>
<ul *ngIf="favoriteStops() as favoriteStops">
  <li *ngFor="let favoriteStop of favoriteStops">
    {{ favoriteStop.haltestellenname }}
  </li>
  <li *ngIf="!loading() && !favoriteStops.length">
    Keine Favoriten gespeichert
  </li>
</ul>
