<h1 i18n="@@HomeHeader">Demo Application</h1>

<ul>
  <li i18n="@@HomeItem1">Reactive Forms</li>
  <li i18n="@@HomeItem2">State Management with NgRx</li>
  <li i18n="@@HomeItem3">Standalone Components</li>
  <li i18n="@@HomeItem4">Routing</li>
  <li i18n="@@HomeItem5">Lazy Loading</li>
  <li i18n="@@HomeItem6">Angular Material</li>
  <li i18n="@@HomeItem7">Dynamic DOM Manipulation</li>
  <li i18n="@@HomeItem8">Localization</li>
  <li i18n="@@HomeItem9">Custom Pipe and Directive</li>
</ul>

<hr />

<p i18n="@@HomeInstruction">
  Use the menu in order to navigate through the demonstration
</p>

<hr />

<!-- <button mat-raised-button (click)="starteSpielplatz()">Spielplatz</button> -->
